@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: aliceblue;
}

thead > tr > th {
    padding: 5px 20px;
    border: 1px solid lightgrey;
    background-color: lightgrey;
}

tbody > tr > td {
    padding: 5px 20px;
    border: 1px solid lightgrey;
}
